@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --clr-green-200: hsl(148, 38%, 91%);
  --clr-green-600: hsl(169, 82%, 27%);
  --clr-red: hsl(0, 66%, 54%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-500: hsl(186, 15%, 59%);
  --clr-grey-900: hsl(187, 24%, 22%);
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-green-200);
  font-size: 16px;
}

.container {
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 30px;
  height: 80vh;
  width: 800px;
  max-width: 1440px;
}

.names {
  display: flex;
  margin: 40px 0;
}

.fname {
  display: flex;
  flex-direction: column;
}

.email-address {
  margin: 40px 0;
}

.email-address input {
  width: 80%;
}

.queries {
  margin: 40px 0;
}

fieldset {
  display: inline-block;
  width: 40%;
}

.text-area {
  display: flex;
  margin: 40px 0;
}

.consent {
  margin: 40px 0;
}

#submit-button {
  background-color: var(--clr-green-600);
  color: var(--clr-white);
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
}

.required-field {
  color: var(--clr-green-600);
}
